$color: (
  background: #f9f9f9,
  backgroundDark: #f0f0f0,
  placeholder: #dcdcdc,

  darkGrey: #353535,

  white: #fff,
  black: #000,

  color1: #ffc107,
  color2: #FFA000,
);

$advanced: (
  headerHeight: 600px,

  //Blocks
  headerBlock: 50px,
);
